/* PRESETS */
* {
    margin: 0;
}

/* GLOBALS */
html, body {
    height: 100%;
}

footer {
    height: 60px;
    padding: 20px;
    border-top: solid 1px #e7e7e7;
    color: #777;
    background-color: #f8f8f8;
}

a:hover,
a {
    text-decoration: none;
}

p {
    font-size: 15px;
    word-wrap: break-word;
}

dd {
    word-wrap: break-word;
}

input {
    width: 100%;
    padding: 10px;
}

/* CONTENT */

.wrapper {
    min-height: 100%;
    margin: 0 auto -62px;
}

.push {
    height: 80px;
}

.navbar {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e7e7e7;
}

.glyphicon {
    color: green;
}

li:hover {
    background-color: rgba(143, 147, 141, 0.82);
}

.form-inline .form-group {
    padding: 10px;
    margin: 10px;
}

.thumbnail {
    margin: 10px;
}

.panel {
    margin: 5px;
}

.bg-success {
    width: 1000px;
    height: 150px;
    font-size: 14px;
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 550px;
}

.banner {
    margin: -20px 0 20px 0;
    width: 100%;
    padding: 0;
}

.thumbnail img {
    display: block;
    max-height: 350px;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail {
    height: 560px;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.list-group-item {
    padding: 5px 15px;
    cursor: pointer;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.category-chooser {
    padding: 10px;
}

.category-chooser h5 {
    margin: 20px 10px 10px;
}

.category-chooser .category {
    margin-top: 0;
}

.delete-button {
    display: inline-block;
    margin: 0 0 10px 5px;
    font-size: 14px;
    padding: 3px;
    cursor: pointer;
    color: #888;
    font-weight: bold;
}

.delete-button:hover {
    color: #444;
}

.login-alert {
    padding: 5px 10px;
}

select {
    width: 100%;
}

.thumbnail-detail img {
    display: block;
    max-height: 400px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.btn a {
    text-decoration: none;
    color: white;
}

.cart-info {
    visibility: hidden;
    padding: 5px 10px;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    z-index: 1000;
}

.panel-body .table {
    margin-bottom: 0;
}

.table-package-info {
    height: 150px;
}